<div class="app-container">
    <div class="app-main">
        <dashboard-sidebar></dashboard-sidebar>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <!-- <div class="row">
                    <dashboard-metrics-widget-number
                    class="col-md-6 col-xl-4"
                    [$class]="'bg-midnight-bloom'"
                    [$heading]="'heading'"
                    [$subheading]="'subheading'"
                    [$value]="999"
                    ></dashboard-metrics-widget-number>
                    <dashboard-metrics-widget-number
                    class="col-md-6 col-xl-4"
                    [$class]="'bg-midnight-bloom'"
                    [$heading]="'heading'"
                    [$subheading]="'subheading'"
                    [$value]="999"
                    ></dashboard-metrics-widget-number>
                    <dashboard-metrics-widget-number
                    class="col-md-6 col-xl-4"
                    [$class]="'bg-midnight-bloom'"
                    [$heading]="'heading'"
                    [$subheading]="'subheading'"
                    [$value]="999"
                    ></dashboard-metrics-widget-number>
                </div> -->
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <div class="dashboard-content">
    </div>
</div>