.view-container {
    background-color: #f7f7f7;
}

.modal-container {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    position: fixed;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.13);
    align-items: center;
    justify-content: center;

    .modal {
        width: 100%;
        padding: 40px;
        max-width: 600px;
        background: #ffffff;
        box-sizing: border-box;

        &.center {
            text-align: center;
        }

        h3 {
            margin-top: 0;
        }

        p {
            margin: 20px 0;

            &.people-list {
                line-height: 18pt;
            }
        }

        .btn-close {
            border-radius: 100px;
            width: 100%;
            color: white;
            height: 42px;
            background-color: #3f51b5;
            font-size: 16px;
            font-family: Roboto, sans-serif;
            font-weight: 400;
            max-width: 200px;
        }
    }
}

@media only screen and (min-width: 501px) {
    .view-container {
        min-height: 100%;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .view-wrapper {
        width: 600px;
        height: 600px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 50px;
        max-width: 350px;
        max-height: 650px;
        background: #ffffff;
        box-shadow: 0 8px 32px -10px rgba(0, 0, 0, 0.13);
        border-radius: 3px;
    }
}

@media only screen and (max-width: 500px) {
    .view-container {
        height: 100%;
    }
}
