    <div class="card mb-3 widget-content {{$class}}">
        <div class="widget-content-wrapper text-white">
            <div class="widget-content-left">
                <div class="widget-heading">{{$heading | translate}}</div>
                <div class="widget-subheading">{{$subheading | translate}}</div>
            </div>
            <div class="widget-content-right">
                <div class="widget-numbers text-white"><span>{{$value}}</span></div>
            </div>
        </div>
    </div>